<!DOCTYPE html>
<html>
  <head>
    <title>My Fvourite List</title>
  </head>
  <body>
    <h1>Dairy Section</h1>
    <ul>
      <li>Butter</li>
      <li>Cheese</li>
      <li>Milk</li>
      <li>Yogurt</li>
    </ul>
    <h1>Fruit Section</h1>
    <ul>
      <li>Grapes</li>
      <li>Strawberry</li>
      <li>Raspberry</li>
      <li>Mango</li>
    </ul>
  </body>
</html>