<!DOCTYPE html>
<html>
  <head>
    <title>My Fvourite List</title>
    <style>
    body, h1{
    background-color: rgb(79, 79, 228);
      font-style: normal;
      font-weight: bold;
    }
    h2{
      font-style: italic;
      font-size: medium;
     }
    </style>
  </head>
  <body>
    <h1>Dairy Section</h1>
    <ul>
      <li>Butter</li>
      <li>Cheese</li>
      <li>Milk</li>
      <li>Yogurt</li>
    </ul>
    <h1>Fruit Section</h1>
    <ul>
      <li>Grapes</li>
      <li>Strawberry</li>
      <li>Raspberry</li>
      <li>Mango</li>
    </ul>
    <h1>Snack Section</h1>
    <ul>
      <li>Crisps</li>
      <li>Chocolates</li>
      <li>Biscuits</li>
      <li>Dry Fruits</li>
    </ul>
    <h1>Cold Section</h1>
    <ul>
      <li>Chicken</li>
      <li>Lamb</li>
      <li>Turkey</li>
      <li>Fish</li>
    </ul>
  </body>
</html>